<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização do Vídeo</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f4f4f4;
            margin: 0;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            border: 2px solid #333;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    
    <div>
        <h1>Visualização do Vídeo em Tempo Real</h1>
        <img src="{{ url_for('video_feed') }}" style="width:100%; height:auto;">
    </div>
</body>
</html>
